<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Carbon.Data" version="0.8.3" targetFramework="net461" />
  <package id="Carbon.Data.Annotations" version="0.8.2" targetFramework="net461" />
  <package id="Carbon.Hosting" version="0.7.10" targetFramework="net461" />
  <package id="Carbon.Json" version="1.0.0" targetFramework="net461" />
  <package id="Carbon.Logging" version="1.0.0" targetFramework="net461" />
  <package id="Carbon.Packaging" version="0.8.1" targetFramework="net461" />
  <package id="Carbon.Platform" version="0.8.1" targetFramework="net461" />
  <package id="Carbon.Protection" version="1.0.0" targetFramework="net461" />
  <package id="Carbon.Repositories" version="1.0.0" targetFramework="net461" />
  <package id="Carbon.Security" version="0.2.0" targetFramework="net461" />
  <package id="Carbon.Storage" version="1.0.0" targetFramework="net461" />
  <package id="Carbon.Versioning" version="1.1.0" targetFramework="net461" />
  <package id="System.Text.Encodings.Web" version="4.0.0" targetFramework="net461" />
</packages>