<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Carbon.Data" version="0.6.10" targetFramework="net461" />
  <package id="Carbon.Data.Annotations" version="0.6.2" targetFramework="net461" />
  <package id="Carbon.Hosting" version="0.5.0" targetFramework="net461" />
  <package id="Carbon.Packaging" version="0.5.1" targetFramework="net461" />
  <package id="Carbon.Platform" version="0.5.3" targetFramework="net461" />
  <package id="Carbon.Storage" version="0.6.2" targetFramework="net461" />
</packages>