<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Carbon.Data" version="0.7.9" targetFramework="net461" />
  <package id="Carbon.Data.Annotations" version="0.7.5" targetFramework="net461" />
  <package id="Carbon.Hosting" version="0.7.8" targetFramework="net461" />
  <package id="Carbon.Json" version="0.7.7" targetFramework="net461" />
  <package id="Carbon.Logging" version="1.0.0" targetFramework="net461" />
  <package id="Carbon.Packaging" version="0.7.9" targetFramework="net461" />
  <package id="Carbon.Platform" version="0.7.9" targetFramework="net461" />
  <package id="Carbon.Protection" version="0.6.0" targetFramework="net461" />
  <package id="Carbon.Repositories" version="0.7.0" targetFramework="net461" />
  <package id="Carbon.Security" version="0.2.0" targetFramework="net461" />
  <package id="Carbon.Storage" version="0.7.5" targetFramework="net461" />
  <package id="Carbon.Versioning" version="1.0.0" targetFramework="net461" />
  <package id="System.Text.Encodings.Web" version="4.0.0" targetFramework="net461" />
</packages>